In [58]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib

In [60]:
url = "https://www.amazon.com/Data-Analyst-Programmer-Accountant-T-Shirt/dp/B0C1TCPZG5/ref=sr_1_1?crid=2VO0A8JSJB4NB&dib=eyJ2IjoiMSJ9.K-5Pp6gJVOBwEEHxOoHfEvhBcongUeGPvHSQerFQ0GEXY_f1m9Fjyn8qzR7L7XsX1GGpxA1m6Tu7pa5CupHg4wGo3JXLjDHZ_jzOpEW1HYRUBKyLKmJdxiRAe216wA6np52PUnxOBcO4ZWP1HCEcgruRObpYyZUq7ShT_c5M9omHAwLUUW3iz4vGo1Meqn3UqruCO49KaS2zI8GCR7UNtOj2xlwYiScA2PvTFiyj8rB01Mlvx6zhS7PXxEQwLVdI2dKfX7E9l2ju0aAqzOH-kD4eyyzZnEx_0EL5q9xpVJM.Q1hOwnh3RaFU-T1N0DyBi-bzoD1frAS-HTIhVkIC9Nk&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1726844962&sprefix=data%2Banalyst%2Btshirt%2Caps%2C285&sr=8-1&customId=B0752XJYNL&customizationToken=MC_Assembly_1%23B0752XJYNL&th=1"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36 Edg/128.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

title = soup2.find(id='productTitle').get_text()  # .text will wprk the same

price = soup2.find(class_ ='a-offscreen').get_text()


print(title)
print(price)

                    Got Data? Data Analyst Programmer Accountant T-Shirt


                       $13.38

In [62]:
title = title.strip()
price = price.strip()[1:]

date = datetime.date.today()

print(title)
print(price)
print(date)

Got Data? Data Analyst Programmer Accountant T-Shirt
13.38
2024-09-26

In [64]:
import csv

header = ['Title', 'Price', 'Date']

data = [title,price,date]

with open('AmazonWebScraping.csv', 'w', newline='', encoding= 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [66]:
import pandas as pd

df = pd.read_csv(r"C:\Users\Phuzel\AmazonWebScraping.csv")

df

                                               Title  Price        Date
0  Got Data? Data Analyst Programmer Accountant T...  13.38  2024-09-26

In [68]:
#Now we are appending data to the csv

with open('AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [70]:
#Combining all of the above code into one function
def check_price():
    url = "https://www.amazon.com/Data-Analyst-Programmer-Accountant-T-Shirt/dp/B0C1TCPZG5/ref=sr_1_1?crid=2VO0A8JSJB4NB&dib=eyJ2IjoiMSJ9.K-5Pp6gJVOBwEEHxOoHfEvhBcongUeGPvHSQerFQ0GEXY_f1m9Fjyn8qzR7L7XsX1GGpxA1m6Tu7pa5CupHg4wGo3JXLjDHZ_jzOpEW1HYRUBKyLKmJdxiRAe216wA6np52PUnxOBcO4ZWP1HCEcgruRObpYyZUq7ShT_c5M9omHAwLUUW3iz4vGo1Meqn3UqruCO49KaS2zI8GCR7UNtOj2xlwYiScA2PvTFiyj8rB01Mlvx6zhS7PXxEQwLVdI2dKfX7E9l2ju0aAqzOH-kD4eyyzZnEx_0EL5q9xpVJM.Q1hOwnh3RaFU-T1N0DyBi-bzoD1frAS-HTIhVkIC9Nk&dib_tag=se&keywords=data%2Banalyst%2Btshirt&qid=1726844962&sprefix=data%2Banalyst%2Btshirt%2Caps%2C285&sr=8-1&customId=B0752XJYNL&customizationToken=MC_Assembly_1%23B0752XJYNL&th=1"

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36 Edg/128.0.0.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, 'html.parser')

    soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

    title = soup2.find(id='productTitle').get_text()  # .text will wprk the same

    price = soup2.find(class_ ='a-offscreen').get_text()

    title = title.strip()
    price = price.strip()[1:]

    price1 = float(price)

    date = datetime.date.today()

    import csv

    header = ['Title', 'Price', 'Date']

    data = [title,price1,date]

    with open('AmazonWebScraping.csv', 'a+', newline='', encoding= 'UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

   # Uncomment the lines below if you want to receive an email notification when the price drops below $14
# if price1 < 14:
#     send_mail()

In [72]:
while True:
    check_price()
    time.sleep(86400)

KeyboardInterrupt:

                                               Title  Price        Date
0  Got Data? Data Analyst Programmer Accountant T...  13.38  2024-09-26

In [161]:
# If uou want to try sending yourself an email (just for fun) when a price hits below a certain level you can try it
# out with this script
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com', 465)
    server.ehlo()
    server.login('gbup@gmail.com', '******')  # Replace '******' with your app-specific password
    
    subject = "The Shirt you want is below $14! Now is your chance to buy!"
    body = ("Shahbaz, This is the moment we have been waiting for. "
            "Now is your chance to pick up the shirt of your dreams. "
            "Don't mess it up! Link here: "
            "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ")
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'gbup@gmail.com',  # From email
        'recipient@example.com',  # To email 
        msg
    )
    
    server.quit()  # Close the connection to the SMTP server

                                               Title  Price        Date
0  Got Data? Data Analyst Programmer Accountant T...  13.38  2024-09-26